# Taken from gitignore, and should be synced
**/node_modules
**/.env.local

out-tsc/

.nx/cache/
.nx/workspace-data/
vite.config.*.timestamp*

**/coverage.out
**/coverage/

# go bin, usually run with nx won't generate this, but if you accidentally run go build
/note
/note.exe
/authorization
/authorization.exe

# from dlv
**/__debug_bin*

**/.openapi-generator/
deploy/
docs/
page/
scripts/
buf.*
**/eslint.config.mjs
.eslintignore
**/.prettierignore
**/.prettierrc.ts
**/justfile
mise.*
.tool-versions
**/openapitools.json
**/README.md

# Agents
.agents/
.claude/
CLAUDE.md
AGENTS.md
