node_modules
.env.local

.nx/cache
.nx/workspace-data
dist
vite.config.*.timestamp*
*tsbuildinfo
out-tsc/

# Next.js
.next
next-env.d.ts
out

coverage.out
coverage/

# go bin, usually run with nx won't generate this, but if you accidentally run go build
/note
/note.exe
/authorization
/authorization.exe

# from dlv
__debug_bin*

# tmp, curently having .docker-version from nx
tmp
.nx/polygraph
.claude/worktrees
.claude/settings.local.json

mise.local.toml
.nx/self-healing
vitest.config.*.timestamp*

# Agent skill
.agents/skills/better-auth-best-practices/
.agents/skills/ckm-banner-design/
.agents/skills/ckm-brand/
.agents/skills/ckm-design/
.agents/skills/ckm-design-system/
.agents/skills/ckm-slides/
.agents/skills/ckm-ui-styling/
.agents/skills/next-best-practices/
.agents/skills/next-cache-components/
.agents/skills/next-upgrade/
.agents/skills/seed-data/
.agents/skills/ui-ux-pro-max/
.agents/skills/vercel-react-best-practices/

.claude/skills/better-auth-best-practices/
.claude/skills/ckm-banner-design/
.claude/skills/ckm-brand/
.claude/skills/ckm-design/
.claude/skills/ckm-design-system/
.claude/skills/ckm-slides/
.claude/skills/ckm-ui-styling/
.claude/skills/next-best-practices/
.claude/skills/next-cache-components/
.claude/skills/next-upgrade/
.claude/skills/seed-data/
.claude/skills/ui-ux-pro-max/
.claude/skills/vercel-react-best-practices/
.claude/skills/terraform-engineer/