*.sql linguist-language=PLpgSQL linguist-detectable
**/*mock.go linguist-generated

api/**/openapi.yaml linguist-language=OASv3-yaml linguist-detectable
api/common/**/*.yaml linguist-language=OASv3-yaml linguist-detectable
api/event/**/*.yaml linguist-language=OASv3-yaml linguist-detectable
api/document/**/*.yaml linguist-language=OASv3-yaml linguist-detectable
api/note/**/*.yaml linguist-language=OASv3-yaml linguist-detectable

proto/**/*.proto linguist-detectable

packages/api-document-nestjs-server/src/**/* linguist-generated
packages/api-gen/src/** linguist-generated
packages/api-share-gen/src/**/* linguist-generated
packages/pb/src/**/* linguist-generated

pkg/api/**/*.go linguist-generated
pkg/pb/**/*.go linguist-generated

**/pgsqlc/*.go linguist-generated

docs/src/** linguist-detectable

internal/notecreateseed/seed.gen.sql linguist-generated
