*.sql linguist-language=PLpgSQL linguist-detectable
**/*_mock.go linguist-generated

api/**/openapi.yaml linguist-language=OASv3-yaml linguist-detectable
api/common/**/*.yaml linguist-language=OASv3-yaml linguist-detectable
api/event/**/*.yaml linguist-language=OASv3-yaml linguist-detectable
api/document/**/*.yaml linguist-language=OASv3-yaml linguist-detectable
api/note/**/*.yaml linguist-language=OASv3-yaml linguist-detectable
api/bundled/*.json linguist-language=OASv3-json linguist-generated

packages/api-gen/src/** linguist-generated
packages/pb/**/*.js linguist-generated
packages/pb/**/*.d.ts linguist-generated
packages/api-document-nestjs-server/**/*.ts linguist-generated

pkg/api/**/*.go linguist-generated
pkg/pb/**/*.go linguist-generated

**/*sqlc/*.go linguist-generated

docs/src/** linguist-detectable
