**/.next/**
**/.vitepress/cache/**
**/build/**
**/coverage/**
**/dist/**
**/node_modules/**
**/out/**
/.nx/cache
/.nx/workspace-data
pnpm-lock.yaml
pnpm-workspace.yaml
packages/notopia-api/src/**/*.d.ts
packages/notopia-pb/**/*.d.ts
packages/notopia-pb/**/*.js
**/next-env.d.ts