{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "semi": true,
  "plugins": [
    "prettier-plugin-package",
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^#/", "^\\.\\./", "^[./]"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators"]
}
