**/.next/**
**/.vitepress/cache/**
**/build/**
**/coverage/**
**/dist/**
**/node_modules/**
**/out/**
/.nx/cache
/.nx/workspace-data
pnpm-lock.yaml
packages/api-document-nestjs-server/**/*.ts
packages/api-document-nestjs-server/README.md
packages/api-gen/src/**
packages/pb/**/*.d.ts
packages/pb/**/*.js
**/next-env.d.ts
docs/godoc/**
api/bundled/**/*.json