# vim:ft=yaml.docker-compose:
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-go/master/schema/compose-spec.json
services:
  dbgate:
    image: dbgate/dbgate:7.0.1-alpine
    container_name: dbgate
    environment:
      SKIP_ALL_AUTH: true
      CONNECTIONS: note_postgresql,casbin_postgresql,redis_pub_sub
      LABEL_note_postgresql: Note PostgreSQL
      ENGINE_note_postgresql: postgres@dbgate-plugin-postgres
      URL_note_postgresql: postgres://${NOTE_POSTGRESQL_USER:-notopiauit}:${NOTE_POSTGRESQL_PASSWORD:-notopiauit}@note_postgresql:5432/${CASBIN_POSTGRESQL_DB:-note}
      LABEL_casbin_postgresql: Casbin PostgreSQL
      ENGINE_casbin_postgresql: postgres@dbgate-plugin-postgres
      URL_casbin_postgresql: postgres://${CASBIN_POSTGRESQL_USER:-notopiauit}:${CASBIN_POSTGRESQL_PASSWORD:-notopiauit}@casbin_postgresql:5432/${CASBIN_POSTGRESQL_DB:-casbin}
      LABEL_redis_pub_sub: Redis Pub/Sub
      ENGINE_redis_pub_sub: redis@dbgate-plugin-redis
      URL_redis_pub_sub: redis://redis_pubsub:6379
    volumes:
      - dbgate_data:/root/.dbgate
    labels:
      traefik.enable: 'true'
      traefik.http.routers.dbgate.rule: Host(`dbgate.notopia.localhost`)
      traefik.http.routers.dbgate.entrypoints: web
      traefik.http.services.dbgate.loadbalancer.server.port: '3000'
    profiles:
      - dev-ui
    restart: unless-stopped

volumes:
  dbgate_data:
