# vim:ft=yaml.docker-compose:
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-go/master/schema/compose-spec.json
services:
  note_postgresql:
    container_name: note_postgresql
    image: postgres:18.1-alpine3.23
    environment:
      POSTGRES_DB: ${NOTE_POSTGRESQL_DB:-notopia}
      POSTGRES_USER: ${NOTE_POSTGRESQL_USER:-notopia}
      POSTGRES_PASSWORD: ${NOTE_POSTGRESQL_PASSWORD:-notopia}
    volumes:
      - note_postgresql_data:/var/lib/postgresql/data
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
    restart: unless-stopped

volumes:
  note_postgresql_data:
