# vim:ft=yaml.docker-compose:
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-go/master/schema/compose-spec.json
services:
  note_postgresql:
    container_name: notopia-note_postgresql
    image: postgres:18.1-alpine3.23
    environment:
      POSTGRES_DB: ${NOTE_POSTGRESQL_DB:-note}
      POSTGRES_USER: ${NOTE_POSTGRESQL_USER:-notopiauit}
      POSTGRES_PASSWORD: ${NOTE_POSTGRESQL_PASSWORD:-notopiauit}
    ports:
      - ${NOTE_POSTGRESQL_PORT:-5432}:5432
    volumes:
      - note_postgresql_data:/var/lib/postgresql/data
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
    restart: unless-stopped

volumes:
  note_postgresql_data:
