name: CI

on:
  push:
    branches:
      - main
    tags:
      - v*.*.*
  pull_request:
    branches:
      - main

jobs:
  main:
    name: Main
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: pnpm

      # - name: Setup Go
      #   uses: actions/setup-go@v6
      #   with:
      #     cache-dependency-path: **/*.sum
      #     go-version-file: go-work

      - name: Install Node Dependencies
        run: pnpm install

      # - name: Install Go Dependencies
      #   run: go mod download

      - uses: actions/cache@v4
        with:
          path: .nx
          key: ${{ runner.os }}-nx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-nx-

      - name: Derive SHAs for Nx Affected
        uses: nrwl/nx-set-shas@v4

      - name: Lint & Format
        run: npx nx affected -t lint format:check --parallel=3

      - name: Test
        run: npx nx affected -t test --parallel=3 --ci

      - name: Build
        run: npx nx affected -t build --parallel=3

      - name: Setup Git User
        run: |
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      # - name: Publish Release
      #   if: startsWith(github.ref, 'refs/tags/v')
      #   run: npx nx release publish

      - name: Deploy
        run: npx nx affected -t deploy --parallel=3
